#-------------------------------
# Environment Variables for Data platform
#-------------------------------

# ------------------------------
# Lakehouse s3 bucket name 
# ------------------------------
LAKEHOUSE_BUCKET=iceberg 
WAREHOUSE_DIR=s3://$LAKEHOUSE_BUCKET/

# ------------------------------
# Minio configuration
# This Minio configuration is used for storage layer
# ------------------------------
MINIO_ACCESS_KEY=minio_access_key
MINIO_SECRET_KEY=minio_secret_key
MINIO_INTERNAL_ENDPOINT=http://minio:9000
MINIO_HOST_ENDPOINT=localhost:9000
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_SSL_ENABLED=false

# ------------------------------
# Database configuration
# The database uses PostgreSQL
# In this project we have:
# (1) a database serves as a operational database storing users trades simulating data
# (2) a database serves as a metadata database storing metadata of the data platform, used by services like Airflow, Hive, etc.
# ------------------------------

# Metadata database
META_DB_USER=hive
META_DB_PASSWORD=hive
META_DB_NAME=metastore
META_DB_DRIVER=org.postgresql.Driver
META_DB_URL=jdbc:postgresql://metastore_db:5432/$META_DB_NAME # or jdbc:postgresql://localhost:5432/$META_DB_NAME
META_DB_PORT_EXPOSE=5433

# Operational database 
# ---update later----

# ------------------------------
# Hive metastore configuration
# This Hive metastore configuration is used for Hive service
# ------------------------------
HIVE_METASTORE_PORT_EXPOSE=9083
HIVE_METASTORE_URI=thrift://hive-metastore:9083

# ------------------------------
# Spark configuration
# This Spark configuration is used for Spark cluster
# ------------------------------

# Spark master configuration 
SPARK_MASTER_PORT_EXPOSE=7077
SPARK_MASTER_WEBUI_PORT_EXPOSE=8081

# Spark worker configuration
SPARK_WORKER_CORES=1
SPARK_WORKER_MEMORY=2g
SPARK_MASTER_URL=spark://spark-master:7077
SPARK_WORKER_IP_RANGE=8091-8100

# ------------------------------
# Spark Thrift Host Port Configurations
# ------------------------------
SPARK_THRIFT_PORT_EXPOSE=50234 

# ------------------------------
# Historical EOD stock prices location
# ------------------------------
HISTORICAL_DATA_DIR=/path/to/d_us_txt/data/daily/us/nasdaq stocks
